# Backend API Configuration
# Copy this file to .env and update with your values

# Backend API URL
# For local development:
# If you want to test on a ur phone, use you must copy past the content of this file then paste it into a file called ".env", 
# put this file in the same directory as this one, swap the "localhost" in EXPO_PUBLIC_API_URL with your computer's network IP address
# like this your IP wont leak because git ignore will make sure .env is not pushed to github, so dont worry
# also when you start your application with npx expo start, the Expo build process is programmed to automatically look for a file named .env, 
# read its contents, and make those variables available to your app, it completely ignores the .env.example file, so dont worry about that too
# this is really just a teplate for u to copy and run with
EXPO_PUBLIC_API_URL=http://localhost:5000

# For production (uncomment and set your production URL):
# EXPO_PUBLIC_API_URL=https://your-api-domain.com
